.tools/
**/build/
**/.gradle/
**/.kotlin/
**/local.properties
**/google-services.json
**/supabase.properties
**/.env
**/.env.local
**/.temp/
**/node_modules/
**/lib/
*.jks
*.keystore
.firebase/
.DS_Store
**/*debug.log
**/firebase-debug.*
**/ui-debug.log
artifacts/*.apk
artifacts/ui/*-results.xml
